<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Threesa Infoway Pvt. Ltd.</title>
    <!-- Favicon-->
    <link rel="icon" href="images/Threesa_Logo.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap Core Css -->
    <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="css/themes/all-themes.css" rel="stylesheet" />
	
	 <!-- Jquery Core Js -->
    <script src="js/jquery.min.js"></script>
	
		<script src="js/jquery.form.min.js"></script>
	  <script src="angulerjs/jszip.js"></script>
	  <script src="angulerjs/xlsx.js"></script>
	    <script src="angulerjs/socket.io.js"></script>
    <script src="angulerjs/angular.min.js"></script>
    <script src="angulerjs/ui-bootstrap-tpls-0.14.3.min.js"></script>
	  <script src="angulerjs/ng-file-upload.min.js"></script>
	  <script src="angulerjs/ng-file-upload-shim.min.js"></script>
	  <script src="angulerjs/ng-file-upload-all.min.js"></script>
	  
    <script src="angulerjs/appEntity.js"></script>
	
	<script type="text/javascript">
        function blockSpecialChar(e) {
                        var k = e.keyCode;
                         return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 44  || k==47 || k==32 || (k >= 48 && k <= 57));
													}
		function number(e) {
            var k = e.keyCode;
            return ((k >= 48 && k <= 57));
        }
		function date(e) {
            var k = e.keyCode;
            return ((k >= 48 && k <= 57) || k==47);
        }
		
    </script>	
	<script>
        
         function readURL(input) {
             
			 
			 if(input.files[0].size>1243000) 
{
alert("File size is greater than 1MB");
$('.image')
                        .attr('src','')
                        .width(150)
                        .height(200);
document.getElementById('submit').disabled=true;
}
else
{
document.getElementById('submit').disabled=false;
}
console.log('This file size is: ' + (input.files[0].size/1024/1024).toFixed(2) + " MB"); 
     
			 
            if (input.files && input.files[0]) {
                var reader = new FileReader();
				
                reader.onload = function (e) {
                    $('.image')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }	

		function readURLPDF(input) {
             
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.pdffile')
                        .attr('data', e.target.result)
                        .width(350)
                        .height(600);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }	
				</script>
</head>

<body class="theme-red"  ng-app="appEntity" ng-controller="MyCtrl as upload">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
	<section ng-app="appEntity" ng-controller="entityController as maycontroller">
     <div ng-if="userlevel=='HO' || userlevel == 'ACCOUNT HEAD'" ng-include="'Mainmenu.html'"></div>
      <div ng-if="userlevel=='STOCK  MANAGER'" ng-include="'mainmenuforatock.html'"></div>
      <div ng-if="userlevel=='FIELD' || userlevel=='SUPERVISOR'|| userlevel=='SHOP MANAGEMENT'|| userlevel=='SALES EXICUTIVE' || userlevel == 'COLLECTION MAN'" ng-include="'mainmenuforfield.html'"></div>
      <div ng-if="userlevel=='OFFICE'" ng-include="'mainmenuforoffice.html'"></div>
    </section>

    <section class="content" id="YourElementId" ng-app="appEntity" ng-controller="entityController as maycontroller">
        <div class="container-fluid">
            <div class="block-header">
                <h2><b>Employee's Details</b></h2>
            </div>
			<div class="row clearfix">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><br>
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><button class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">Add New</button></div><div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"> <button class="btn btn-primary" data-toggle="modal" data-target="#myModalUpload">Upload Employee</button> </div><div class="col-lg-3 col-md-3 col-sm-8 col-xs-8 pull-right"><input type="search" class="form-control" ng-model="search.name" placeholder="search"/>
				<div ng-if="search.name" class="fa fa-times-circle" id="input_img" ng-click="search.name = ''"></div>
				</div>
				<br>
				<br>
				</div>
				
				
				
				<div class="modal fade" id="myModalUpload" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Upload Employee</h4>
						</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-4">
											<a href="./files/Employee Details.xlsx" style="text-decoration:none;color:black;"  download><i class="fa fa-download" style="font-size:50px;"></i></a>
										</div>
										<div class="col-md-4 pull-right">
										
											<div class="file_input_div">
											<div class="file_input">
											  <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
												<i style="border:1px solid gray;" class="btn">Choose File</i>
												<input id="xlf" class="none" type="file"/>
											  </label>
											</div>
										  </div>
                
											</div>
											<div class="col-md-12">
												<div class="col-md-4 pull-right">
													<button class="btn btn-primary" onclick="myFunction()" data-dismiss="modal">Submit</button>
													<button class="btn btn-primary" data-dismiss="modal">Cancel</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
				
				
				<div class="modal fade" id="myModalDocuments" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Upload Documents</h4>
						</div>
							<div class="modal-body">
							<div class="col-md-12"><h4>#{{employeedetails[0].id}} - {{employeedetails[0].name}}</h4></div>	
                <form id="uploadForm"
          enctype="multipart/form-data"
          action="/api/photo"
          method="post">
		  <div class="col-md-12">
		  <div class="col-md-3"><label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
				<i style="border:1px solid gray;" class="btn">Upload Aadhaar</i>
		<input type="file" onchange="readURL(this);" name="userPhoto"/>
	</label>
	<a class="btn btn-primary" ng-click="resetFile('uid',employeedetails[0].id)">Reset Aadhaar Image</a>
	</div>
	<div class="col-md-9">
		
										<div class="input-group">
											<div class="col-md-12">
											<div class="md-form" >
										<div>
                                          <img src="uploads/{{employeedetails[0].aadhar}}" class="image img-responsive" />
                                            </div>
                                </div>
											</div>
										</div>
										
	</div>
	</div>
	<div class="col-md-12">
	<div class="col-md-3">
	<label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
				<i style="border:1px solid gray;" class="btn">Upload Resume</i>
		<input type="file" onchange="readURLPDF(this);" name="userPhoto"/>
	</label>
	
	<a class="btn btn-primary" ng-click="resetFile('resume',employeedetails[0].id)">Reset Resume</a>
      </div>
	  
	  <div class="col-md-9">
			<div>
    <object data="uploads/{{employeedetails[0].resume}}" class="pdffile" type="application/pdf" height="500" width="350">
       
    </object>
</div>
      </div>
      </div>
      
      <input type="submit" class="btn btn-success" value="Submit" name="submit">&nbsp;<button class="btn btn-primary" data-dismiss="modal">Close</button>
      <input  type='text' style="visibility:hidden;" id='random' name='random' ng-model="employeedetails[0].id"><br>
      <span style="color:green;font-size:15px;"id = "status"></span>
    </form>
	
	 <script>
  $(document).ready(function() {
	 
     $('#uploadForm').submit(function() {
		 $("#status").empty().text("File is uploading...");

        $(this).ajaxSubmit({

            error: function(xhr) {
		            status('Error: ' + xhr.status);
            },

            success: function(response) {
					console.log(response)
					$("#status").empty().text(response);
					location.reload();
            }
	});
	return false;
	
    });    
});
  </script>
										
											
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
				
				
				
				<div class="modal fade" id="myModalAdd" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">New Employee</h4>
						</div>
							<div class="modal-body">
								  <form name="Adduser">
								  
										<div class="input-group" >
											<span class="input-group-addon">
												<i>Full Name:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="upload.name" placeholder="Full Name" required>
											</div>
										</div>

										<div class="input-group">
											<span class="input-group-addon">
												<i>Address:</i>
											</span>
											<div class="form-line">
												<textarea type="text" class="form-control" ng-model="upload.address" placeholder="Address"></textarea>
											</div>
										</div>
										<div class="input-group">
											<span class="input-group-addon">
												<i>Contact No:</i>
											</span>
											
												<div class="col-md-6">
												<div class="form-line">
												<input type="text" maxlength="10" class="form-control" ng-model="upload.mobile1" placeholder="Mobile No. 1" onkeypress="return number(event)" required>
											</div>
											</div>
											<div class="col-md-6 pull-right">
											<div class="form-line"><input type="text" maxlength="10" class="form-control" ng-model="upload.mobile2" placeholder="Mobile No. 2" onkeypress="return number(event)">
											</div>
											</div>
										</div>
										<div class="input-group">
											<span class="input-group-addon">
												<i>Email ID:</i>
											</span>
											<div class="form-line">
												<input type="email" class="form-control" ng-model="upload.email" placeholder="Email ID">
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="input-group">
											<span class="input-group-addon">
												<i>Date Of Birth:</i>
											</span>
											<div class="form-line">
												<input type="date" class="form-control" ng-model="upload.dob">
											</div>
										</div>
											</div>
											<div class="col-md-6">
												<div class="input-group">
											<span class="input-group-addon">
												<i>Date Of Joining:</i>
											</span>
											<div class="form-line">
												<input type="date" class="form-control" ng-model="upload.joindate">
											</div>
										</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="input-group">
											<span class="input-group-addon">
												<i>Salary:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="upload.salary" onkeypress="return number(event)" placeholder="Salary">
											</div>
										</div>
											</div>
										</div>
										<div class="row">
										
											<div class="col-md-4">
										<div class="input-group">
											<div class="col-md-12">
											<label for="userprofile" class="custom-file-upload">
											<i class="fa fa-cloud-upload"></i> Upload Photo</label>
										<input id="userprofile" type="file" ngf-select ng-model="upload.photo" onchange="readURL(this);" name="file" ngf-max-size="1MB"/>
											</div>
										</div>
										</div>
										<div class="col-md-4">
										<div class="input-group">
											<div class="col-md-12">
											<div class="md-form" >
										<div>
                                          <img src="" class="image img-fluid" />
                                            </div>
                                </div>
											</div>
										</div>
										</div>
										</div>

											<div class="row">
											<legend>Login Authority</legend>
											<div class="col-md-6">
										<div>
											<span class="col-md-4">
												<i><b style="color:#2A2525;">UserLevel:</b></i>
											</span>
											<div class="col-md-8"><select ng-model="upload.userlevel" class="form-control" ng-options="data for data in userlevelarray" ng-change="getsupervisordetails(upload.userlevel)">
											<option value="" selected disabled>Select userlevel</option>
											</select>
										</div>
										</div>
										</div>
										<div class="col-md-6">
										<div>
											<span class="col-md-4">
												<i><b style="color:#2A2525;">Supervisor:</b></i>
											</span>
											<div class="col-md-8">
											<select ng-model="upload.supervisor" ng-options="data.id as data.username for data in supervisordetailsarr" class="form-control" id="supervisor">
											<option value="" selected disabled>Select Supervisor</option>
											</select>
										</div>
										</div>
										</div>
											
										 </div>
										 <div class="row">
										 <br>
										<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">
												<i>Username:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="upload.username" placeholder="Username" >
											</div>
										</div>
										</div>
										<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">
												<i>Password:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="upload.password" placeholder="Password" >
											</div>
										</div>
										</div>
										</div>
										
								</form>
							</div>
							<div class="modal-footer">
							
										<div class="input-group">
											<div class="">
												<button class="btn btn-success pull-right" ng-disabled="Adduser.$invalid" id="submit" ng-click="upload.newEmployee()" >Save</button>
											</div>
										</div>
										</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="ModalShifts" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Assign Working Shifts</h4>
						</div>
							<div class="modal-body">
									<form>
									<div class="row">
									<div class="col-md-6" ng-init="ListShifts()">
										<div class="input-group" >
											<span class="input-group-addon">
												<i>Shift:</i>
											</span>
											<div class="form-line">
											<select class="form-control" ng-model="Shiftid" ng-options="obj.id as obj.shiftname for obj in shiftList" ng-change="getShiftData(Shiftid)">
												<option value="" selected disabled>Select Shift</option>
											</select>
											</div>
										</div>
										</div>
										<div class="col-md-6">
											<div class="col-md-2">
												<button class="btn btn-primary" ng-click="setShiftTime(Shiftid)" data-dismiss="modal">Submit</button>
											</div>
										</div>
									</div>
									<div class="row">
											<div class="col-md-12"><h5 class="h5-responsive">Shift Timing: &nbsp;{{shiftdata[0].intime | date:'hh:mm a'}} To {{shiftdata[0].outtime | date:'hh:mm a'}}</h5></div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<ul style="list-style-type:none;"><li class="col-md-4" ng-repeat="obj1 in SelectedEmployeeid"><a href="#" ng-click="syncEmpfordelete(bool1,obj1)"><i class="fa fa-trash" aria-hidden="true"></i></a>&nbsp; {{obj1.name}}</li></ul>
										</div>
									</div>
									</form>
							</div>
						</div>
					</div>
				</div>
							
							<div class="modal fade" id="myModalEdit" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Edit User Details</h4>
						</div>
							<div class="modal-body">
								  <form name="Edituser" ng-repeat="upload1 in employeedetails">
								  
										<div class="input-group" >
											<span class="input-group-addon">
												<i>Full Name:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="upload1.name" placeholder="Full Name" required>
											</div>
										</div>

										<div class="input-group">
											<span class="input-group-addon">
												<i>Address:</i>
											</span>
											<div class="form-line">
												<textarea type="text" class="form-control" ng-model="upload1.address" placeholder="Address"></textarea>
											</div>
										</div>
										<div class="input-group">
											<span class="input-group-addon">
												<i>Contact No:</i>
											</span>
											
												<div class="col-md-6">
												<div class="form-line">
												<input type="text" maxlength="10" class="form-control" ng-model="upload1.mobile1" placeholder="Mobile No. 1" onkeypress="return number(event)" required>
											</div>
											</div>
											<div class="col-md-6 pull-right">
											<div class="form-line"><input type="text" maxlength="10" class="form-control" ng-model="upload1.mobile2" placeholder="Mobile No. 2" onkeypress="return number(event)">
											</div>
											</div>
										</div>
										<div class="input-group">
											<span class="input-group-addon">
												<i>Email ID:</i>
											</span>
											<div class="form-line">
												<input type="email" class="form-control" ng-model="upload1.email" placeholder="Email ID">
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="input-group">
											<span class="input-group-addon">
												<i>Date Of Birth:</i>
											</span>
											<div class="form-line">
												<input type="date" class="form-control" ng-model="upload1.dob">
											</div>
										</div>
											</div>
											<div class="col-md-6">
												<div class="input-group">
											<span class="input-group-addon">
												<i>Date Of Joining:</i>
											</span>
											<div class="form-line">
												<input type="date" class="form-control" ng-model="upload1.joindate">
											</div>
										</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="input-group">
											<span class="input-group-addon">
												<i>Salary:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="upload1.salary" onkeypress="return number(event)" placeholder="Salary">
											</div>
										</div>
											</div>
										</div>
										<div class="row">
										
											<div class="col-md-4">
										<div class="input-group">
											<div class="col-md-12">
											<label for="uploadphoto" class="custom-file-upload">
											<i class="fa fa-cloud-upload"></i> Upload Photo</label>
										<input id="uploadphoto" type="file" ngf-select ng-model="upload.photo" onchange="readURL(this);" name="file" ngf-max-size="1MB"/>
											</div>
										</div>
										
										<button class="btn btn-primary" ng-click="resetFile('profile',upload1.id)">Reset Profile Image</button>
										</div>
										<div class="col-md-4">
										<div class="input-group">
											<div class="col-md-12">
											<div class="md-form" >
										<div>
                                          <img src="uploads/{{upload1.photo}}" class="image img-responsive" style="height:120px;width:100px;" />
                                            </div>
                                </div>
											</div>
										</div>
										</div>
										</div>

											<div class="row">
											<legend>Login Authority</legend>
											<div class="col-md-6">
										<div>
											<span class="col-md-4">
												<i><b style="color:#2A2525;">UserLevel:</b></i>
											</span>
											<div class="col-md-8"><select ng-model="upload1.userlevel" class="form-control" ng-options="data for data in userlevelarray" ng-change="getsupervisordetails(upload1.userlevel)">
											<option value="" selected disabled>Select userlevel</option>
											</select>
										</div>
										</div>
										</div>
										<div class="col-md-6" ng-init="getsupervisordetails(upload1.userlevel)">
										<div>
											<span class="col-md-4">
												<i><b style="color:#2A2525;">Supervisor:</b></i>
											</span>
											<div class="col-md-8">
											<select ng-model="upload1.supervisor" ng-options="data.id as data.username for data in supervisordetailsarr" class="form-control" id="supervisor">
											<option value="" selected disabled>Select Supervisor</option>
											</select>
										</div>
										</div>
										</div>
											
										 </div>
										 <div class="row">
										 <br>
										<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">
												<i>Username:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="upload1.username" placeholder="Username" >
											</div>
										</div>
										</div>
										<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">
												<i>Password:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="upload1.password" placeholder="Password" >
											</div>
										</div>
										</div>
										</div>
										
								</form>
							</div>
							<div class="modal-footer">
							<div class="input-group">
												<button class="btn btn-success pull-right" ng-disabled="Edituser.$invalid" ng-click="upload.EditEmployee()" data-dismiss="modal">Save</button>
										</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6" style="float:right">
													  <button style='border:none;background:transparent;color:black;' ng-disabled='currentPage == 0' class='fa fa-chevron-left' ng-click='currentPage=currentPage-1'></button>
													  <b>  {{currentPage+1}} / {{numberOfPageEmployee()}} </b>
													  <input type='number' min='1' max='{{maxpage}}' ng-change='checkcurrpage(myValue)' style='width:35%' ng-model='myValue'>
														<button style='border:none;background:transparent;color:black' class='fa fa-chevron-right' ng-disabled='currentPage >= employeeList.length/pageSize - 1' ng-click='currentPage=currentPage+1'></button>
				</div>					
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
				<div class="card">
					<div class="table-responsive">
					<br>
						<table class="table table-bordered table-striped table-hover">
						<thead>
								<th><center><input type="checkbox" id="allselecdt" ng-change="syncEmpfordelete(bool,employeeList)" ng-model="bool" ng-checked="isCheckedEmpfordelete(employeeList)"> <label for="allselecdt">All</label></center></th>
							<th class="text-center"> <a href='#' style='text-decoration:none;color:Black' ng-click="sortType = 'username'; sortReverse = !sortReverse"> <b>Full Name</b> <span ng-show="sortType= 'username' && !sortReverse" style='font-size:10px;' class='fa fa-chevron-down'></span> <span ng-show="sortType = 'username' && sortReverse" style='font-size:10px' class='fa fa-chevron-up'></span> </a></th>
							<!-- <th class="text-center">Address</th> -->
							<th class="text-center">Mobile No.</th>
							<th class="text-center">Alt. Mobile No.</th>
							<th class="text-center">Working Shift</th>
							<th class="text-center">Action</th>
						</thead>
						<tbody ng-init="ListEmployee()">
							<tr ng-repeat="data in employeeList | filter:search.name | startFrom:currentPage*pageSize | limitTo:pageSize  | orderBy:sortType:sortReverse" >
							<td class="text-center" style="width:4px;padding-top:10px;"><input type="checkbox" id="{{$index}}" ng-change="syncEmpfordelete(bool,data)" ng-model="bool" ng-checked="isCheckedEmpfordelete(data)"><label for="{{$index}}"></label></td>
								<!-- <td class="text-left">{{data.id}}</td> -->
								<td class="text-left" style="color:blue;cursor:pointer;padding-top:10px;" ng-click="getEmployeeData(data.id)" data-toggle="modal" data-target="#myModalEdit">{{data.name}}</td>
								<!-- <td class="text-left"><p  class="test1">{{data.address}}</p></td> -->
								<td class="text-center" style="padding-top:10px;">{{data.mobile1}}</td>
								<td class="text-center" style="padding-top:10px;">{{data.mobile2}}</td>
								<td class="text-left" style="padding-top:10px;">{{data.workingshift}}
								<br>
								{{data.intime|date:'hh:mm a'}} - {{data.outtime|date:'hh:mm a'}}
								</td>
								<td class="text-center"  style="padding-top:10px;"><a class="btn btn-info" ng-click="getEmployeeData(data.id)" data-toggle="modal" data-target="#myModalDocuments">Documents</a> |  <a class="btn btn-danger" ng-click="DeleteEmployee(data.id)">Delete</a></td>
							</tr>
						</tbody>
						</table>
					</div>
					
					</div>
				</div>
				<div id="container-floating">

  <div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="Working Shift"><img class="reminder">
    <p class="letter"><a href="#" style="color:white" title="Working Shift" data-toggle="modal" data-target="#ModalShifts"><b><i class="fa fa-history" aria-hidden="true"></i></b></a></p>
  </div>
  
  <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it"><img class="reminder">
    <p class="letter"><a href="#" style="color:white" title="Delete Selected" ng-click="DeletedbulkEmployee()" ><b><i class="fa fa-trash" aria-hidden="true"></i></b></a></p>
  </div>

  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
    <p class="plus">+</p>
    <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
  </div>
				
			</div>
            
        </div>
		
		
		<script>	
	var X = XLSX;
     

function saveTextAsFile(errtxt,errfile)
					{    
		
					
						var textToSaveAsBlob = new Blob([errtxt], {type:"text/plain"});
						var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
						var fileNameToSaveAs = errfile;
					 
						var downloadLink = document.createElement("a");
						downloadLink.download = fileNameToSaveAs;
						downloadLink.href = textToSaveAsURL;
						document.body.appendChild(downloadLink);

						downloadLink.click();
						
						location.reload();
					
					}
        function to_json(workbook) {
            var result = {};
			var data2pass = {};
            workbook.SheetNames.forEach(function(sheetName) {
                var roa = X.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
				var len = workbook.SheetNames.length;
                 if (roa.length > 0) {
                    result[sheetName] = roa;
					angular.element(document.getElementById('YourElementId')).scope().UploadEmployee(roa);
				}
                   
            });
            return result;
        }

        function process_wb(wb) {
            var output = "";
            output = JSON.stringify(to_json(wb), 2, 2);
        }
			
			var xlf = document.getElementById('xlf');
			
			
			var data = 0; 
			
			var  prevevent = {};
			function myeventnew(eee) {
				  prevevent = eee;
			}
			
			function myFunction() {
				 var files = prevevent.target.files; 
					var f = files[0];
					var reader = new FileReader();
					var name = f.name;
					reader.onload = function(prevevent) {
						var data = prevevent.target.result;
						var wb;
							wb = X.read(data, {
							type: 'binary'
							});
							process_wb(wb);
					};
            reader.readAsBinaryString(f);

			}
			
			
				function handleFile(e) {
				var ee = e;
				if(ee)
					{myeventnew(ee);}
			
				
		} 

		 

        if (xlf.addEventListener) xlf.addEventListener('change', handleFile, false);
    </script>
		
    </section>


	
    <!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js"></script>
	
    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js"></script>


    
</body>

</html>