<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Threesa Infoway Pvt. Ltd.</title>
    <!-- Favicon-->
    <link rel="icon" href="images/Threesa_Logo.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap Core Css -->
     <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="css/themes/all-themes.css" rel="stylesheet" />
	
	 <!-- Jquery Core Js -->
    <script src="js/jquery.min.js"></script>
	 <!-- Anguler Js -->
		
	  <script src="angulerjs/angular.js"></script>
	    <script src="angulerjs/socket.io.js"></script>
    <script src="angulerjs/angular.min.js"></script>
    <script src="angulerjs/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<script src="angulerjs/qrcode.js"></script>
	<script src="angulerjs/qrcode_UTF8.js"></script>
<script src="angulerjs/angular-qr.js"></script>
    <script src="angulerjs/appStcok.js"></script>

</head>

<body class="theme-red" ng-app="VendorApp" ng-controller="vendorController">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
	<section >
       <div ng-if="userlevel=='HO' || userlevel == 'ACCOUNT HEAD'" ng-include="'Mainmenu.html'"></div>
      <div ng-if="userlevel=='STOCK  MANAGER'" ng-include="'mainmenuforatock.html'"></div>
      <div ng-if="userlevel=='FIELD' || userlevel=='SUPERVISOR'|| userlevel=='SHOP MANAGEMENT'|| userlevel=='SALES EXICUTIVE' || userlevel == 'COLLECTION MAN'" ng-include="'mainmenuforfield.html'"></div>
      <div ng-if="userlevel=='OFFICE'" ng-include="'mainmenuforoffice.html'"></div>
    </section>

    <section class="content" >
        <div class="container-fluid"  ng-init="ListPurchaeStock();ListUser();ListArea();">
            <div class="block-header">
                <h2><b>Stock Used</b></h2>
            </div>
			<div class="row clearfix">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><br>
				
				<div class="col-lg-3 col-md-3 col-sm-8 col-xs-8" ng-init="ListPo()">
				<select ng-model="poid" class="form-control" ng-options="obj.id as obj.id for obj in poList" ng-change="getpoidentry(poid)">
				<option value="" selected disabled>Select P'O Order</option>
				
				</select>
											</div>
											
											<div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
				<select ng-model="pageSize" class="form-control" ng-options="obj.value as obj.name for obj in Pagesizes">
				<option value="" selected disabled>Record display</option>
				
				</select>
											</div>
				
				<div class="col-lg-3 col-md-3 col-sm-8 col-xs-8 pull-right"><input type="search" class="form-control" ng-model="search.po" placeholder="search"/>
				<div ng-if="search.po" class="fa fa-times-circle" id="input_img" ng-click="search.po = ''"></div>
				</div>
				<br>
				<br>
				</div>
				
			
				
				
				<div class="modal fade" id="MyModalQrCode" role="dialog" style="z-index: 1600;" data-backdrop="static">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">QR Code</h4>
							</div>
							<div class="modal-body">
							<div id="QrCode" class="text-center"><qr text="qrcode[0].qrcodeString" type-number="qrcode[0].typeNumber" correction-level="qrcode[0].correctionLevel" size="qrcode[0].size" input-mode="qrcode[0].inputMode" image="qrcode[0].image"></qr></div>
							</div>
							<div class="modal-footer">
							<button class="btn btn-primary" ng-click='printDiv("QrCode")'>Print</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="MyModalListAllItems" role="dialog" style="z-index: 1400;">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">{{itemdetailsReq.productname}} (PO: {{itemdetailsReq.poid}} Invoice #: {{itemdetailsReq.invoiceno}})</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<th>#</th>
													<th ng-if="itemdetailsReq.producttype != 'Qty.-Meters'">Serial No.</th>
													<th ng-if="itemdetailsReq.producttype === 'Qty.-Meters'">Starting Point</th>
													<th ng-if="itemdetailsReq.producttype === 'Qty.-Meters'">Ending Point</th>
													<th>User Assign</th>
													<th>Address</th>
													<th>Zone</th>
													<th>Assign Date</th>
													<!-- <th>QR</th>
													-->
													<th>Action</th>
												</thead>
												<tbody>

													<!-- ng-click="OpenQrPopup($index,obj.id)" -->
													<tr ng-repeat="obj in ItemDetails">
													   <td id="row{{$index}}" data-toggle="modal" ng-click="GenerateQrCode(obj)" data-target="#MyModalQrCode" >{{$index+1}}</td>
													   <td  ng-if="itemdetailsReq.producttype != 'Qty.-Meters'"><input class="form-control" ng-model="obj.srno"/></td>
													   <td  ng-if="itemdetailsReq.producttype === 'Qty.-Meters'"><input type="number" class="form-control" ng-model="obj.startmeter"/></td>
													   <td  ng-if="itemdetailsReq.producttype === 'Qty.-Meters'"><input type="number" class="form-control" ng-model="obj.endmeter"/></td>
													   <td><select class="form-control" ng-model="obj.assignemp" ng-options="obj.id as obj.username for obj in userList">
														<option value="" selected disabled>Select Employee</option>
													   </select></td>
													   <td>
														<textarea class="form-control" ng-model="obj.address"></textarea>
													   </td>
													   <td>
														<select class="form-control" ng-model="obj.zone" ng-options="objs.id as objs.areaname for objs in AreaList">
															<option value="" selected disabled>Select Zone</option>
														</select>
													   </td>
													   <td>
														<input class="form-control" type="date" ng-model="obj.assigndate" />
													   </td>
													   <!-- <td>
														<div id="QrCode" class="text-center"><qr text="obj.qrcodeString" type-number="obj.typeNumber" correction-level="obj.correctionLevel" size="obj.size" input-mode="obj.inputMode" image="obj.image"></qr></div>
													   </td> -->
													   <td>
														<button class="btn btn-primary" ng-disabled="(obj.srno && obj.srno =='') || ((obj.startmeter && obj.startmeter == '') && (obj.endmeter && obj.endmeter == '') || !obj.assignemp || !obj.assigndate)" ng-click="SaveSRNData(obj)">Save</button>
													   </td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="modal-footer">
							<button class="btn btn-primary" ng-click='printDiv("QrCode")'>Print</button>
							</div> -->
						</div>
					</div>
				</div>
							
				
				
				
				
				 <div class="col-md-3 col-xs-6" style="float:right">
													  <button style='border:none;background:transparent;color:black;' ng-disabled='currentPage == 0' class='fa fa-chevron-left' ng-click='currentPage=currentPage-1'></button>
													  <b>  {{currentPage+1}} / {{numberOfPagesofstocksrn()}} </b>
													  <input type='number' min='1' max='{{maxpage}}' ng-change='checkcurrpage(myValue)' style='width:35%' ng-model='myValue'>
														<button style='border:none;background:transparent;color:black' class='fa fa-chevron-right' ng-disabled='currentPage >= StocksrnList.length/pageSize - 1' ng-click='currentPage=currentPage+1'></button>
				</div>		
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="table-responsive">
					<br>
						<table class="table table-striped table-bordered table-hover">
						<thead>
							<!-- <th class="text-center">Purchase Date</th> -->
							
							<th class="text-center">PO.No.</th>
							<th class="text-center">Product</th>
							<th class="text-center">Quantity</th>
							<th class="text-center">Quantity Available</th>
							<th class="text-center">Invoice No.</th>
							<th class="text-center">Invoice Date</th>
							<th class="text-center">Action</th>
						</thead>
						<tbody>
							<tr  ng-repeat="data in StocksrnList | filter:search.po | orderBy:sortType:sortReverse | startFrom:currentPage*pageSize | limitTo:pageSize">
								
								<td>{{data.poid}}</td>
								<td>{{data.productname}}</td>
								<td>{{data.actqty}}</td>
								<td>{{data.qtyavl}}</td>
								<td>{{data.invoiceno}}</td>
								<td>{{data.invoicedate | date:'dd/MM/yyyy'}}</td>
							<td><button class="btn btn-primary" data-toggle="modal" ng-click="getUsedItems(data)" data-target="#MyModalListAllItems">View All Items</button></td>
							</tr>
						</tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
			</div>
         
    </section>

    <!-- Bootstrap Core Js -->
    <script src="angulerjs/bootstrap.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js"></script>

</body>

</html>