<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Threesa Infoway Pvt. Ltd.</title>
    <!-- Favicon-->
    <link rel="icon" href="images/Threesa_Logo.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap Core Css -->
    <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="css/themes/all-themes.css" rel="stylesheet" />
	
	 <!-- Jquery Core Js -->
    <script src="js/jquery.min.js"></script>
	
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
	  <script src="angulerjs/jszip.js"></script>
	  <script src="angulerjs/xlsx.js"></script>
    <script src="angulerjs/angular.min.js"></script>
      <script src="angulerjs/socket.io.js"></script>
    <script src="angulerjs/ui-bootstrap-tpls-0.14.3.min.js"></script>
	  <script src="angulerjs/ng-file-upload.min.js"></script>
	  <script src="angulerjs/ng-file-upload-shim.min.js"></script>
    <script src="angulerjs/appVendors.js"></script>
	<script type="text/javascript">
        function blockSpecialChar(e) {
                        var k = e.keyCode;
                         return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 44  || k==47 || k==32 || (k >= 48 && k <= 57));
													}
		function number(e) {
            var k = e.keyCode;
            return ((k >= 48 && k <= 57));
        }
		function date(e) {
            var k = e.keyCode;
            return ((k >= 48 && k <= 57) || k==47);
        }
		
    </script>	
</head>

<body class="theme-red"  ng-app="VendorApp" ng-controller="vendorController">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
	<section>
       <div ng-if="userlevel=='HO' || userlevel == 'ACCOUNT HEAD'" ng-include="'Mainmenu.html'"></div>
      <div ng-if="userlevel=='STOCK  MANAGER'" ng-include="'mainmenuforatock.html'"></div>
      <div ng-if="userlevel=='FIELD' || userlevel=='SUPERVISOR'|| userlevel=='SHOP MANAGEMENT'|| userlevel=='SALES EXICUTIVE' || userlevel == 'COLLECTION MAN'" ng-include="'mainmenuforfield.html'"></div>
      <div ng-if="userlevel=='OFFICE'" ng-include="'mainmenuforoffice.html'"></div>
    </section>

    <section class="content" id="YourElementId">
        <div class="container-fluid">
            <div class="block-header">
                <h2><b>Office's Misc Payment</b></h2>
            </div>
			<div class="row clearfix">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><br>
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><button class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">Add Entry</button></div><div class="col-lg-3 col-md-3 col-sm-8 col-xs-8 pull-right"><input type="search" class="form-control" ng-model="search.name" placeholder="search"/>
				<div ng-if="search.name" class="fa fa-times-circle" id="input_img" ng-click="search.name = ''"></div>
				</div>
				<br>
				<br>
				</div>
				</div>
				
				
				
				
				
				<div class="modal fade" id="myModalAdd" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
						<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">New Entry</h4>
						</div>
							<div class="modal-body">
								  <form name="Addproduct">
								    <div class="row">
								    <div class="col-md-6">
										<div class="input-group" ng-init="officeList()">
											<span class="input-group-addon">
												<i>Select Office:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="PaymentsArray[0].officename"  typeahead="data as data.office for data in officeListing | filter:$viewValue" typeahead-on-select="getofficeData($item.id)" placeholder="Search Office Name" required/>
											</div>
									</div>
										</div>
										<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">
												<i>Owner:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="officeDetails[0].officevendor" placeholder="Office Owner" readonly>
											</div>
										</div>
										</div>
										</div>
										<div class="row">
										<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">
												<i>Address:</i>
											</span>
											<div class="form-line">
												<textarea type="text" class="form-control" ng-model="officeDetails[0].address" placeholder="Address" readonly>
												</textarea>
											</div>
										</div>
										</div>
										
										<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">
												<i>Mobile:</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control" ng-model="officeDetails[0].mobile" placeholder="Mobile" maxlength="10" readonly>
											</div>
										</div>
										</div>
										</div>
										
										<div class="row">
										<div class="table-responsive">	
											<table class="table table-borderd">
												<thead>
													<th>#</th>
													<th>Vendor</th>
													<th>Amount</th>
													<th>Payment Date</th>
													<th>Payment Month</th>
												</thead>
												<tbody>
													<tr ng-repeat="obj in PaymentsArray"   class="{{$index}}row">
														<td><a href="#" ng-click="RemoveEntry($index,obj)" class="text-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>&nbsp;{{$index +1}}</td>	
														<td><div class="form-line">
															<input type="text" class="form-control" ng-model="obj.vendorname" placeholder="Vendor Name">
														</div></td>
													<td>
														<div class="form-line">
															<input type="number" class="form-control" ng-model="obj.amount" placeholder="Amount">
														</div>
													</td>
														<td>
														<div class="form-line">
															<input type="date" class="form-control" ng-model="obj.paymentdate">
														</div>
													</td>
														<td>
													<div class="form-line">
															<input type="month" class="form-control" ng-model="obj.paymentmonth">
														</div>
													</td>
													</tr>
													<tr>
														<td colspan="5">
															<button class="btn btn-primary" ng-click="AddNewNewEntry()">Add New</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
	
										
										</div>
										<div class="input-group">
											<div class="">
												<button class="btn btn-success pull-right" ng-disabled="Addproduct.$invalid" ng-click="AddOfficeMiscPayments()" data-dismiss="modal">Save</button>
											</div>
										</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-md-12 col-xs-12">
				
				<div class="col-md-2">
					<select class="form-control" ng-model="pageSize" ng-options="obj for obj in [10,25,50,100]">
						<option value='' hidden></option>
					</select>
				</div>
				<div class="col-md-3" style="float:right">
													  <button style='border:none;background:transparent;color:black;' ng-disabled='currentPage == 0' class='fa fa-chevron-left' ng-click='currentPage=currentPage-1'></button>
													  <b>  {{currentPage+1}} / {{numberOfPagesofficePayment()}} </b>
													  <input type='number' min='1' max='{{maxpage}}' ng-change='checkcurrpage(myValue)' style='width:35%' ng-model='myValue'>
														<button style='border:none;background:transparent;color:black' class='fa fa-chevron-right' ng-disabled='currentPage >= BillPaymentList.length/pageSize - 1' ng-click='currentPage=currentPage+1'></button>
				</div>						
				</div>						
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
				<div class="card">
					<div class="table-responsive">
					<br>
						<table class="table table-bordered table-striped table-hover">
						<thead>
							<th class="text-left">#</th>
							<th class="text-center"> <a href='#' style='text-decoration:none;color:Black' ng-click="sortType = 'createddate'; sortReverse = !sortReverse"> <b>Date</b> <span ng-show="sortType= 'createddate' && !sortReverse" style='font-size:10px;' class='fa fa-chevron-down'></span> <span ng-show="sortType = 'createddate' && sortReverse" style='font-size:10px' class='fa fa-chevron-up'></span> </a></th>
							<th class="text-center">Office</th>
							<th class="text-center">No. Of Payments</th>
							<th class="text-center">Paid Amount</th>
							<th class="text-center">Created By</th>
							<th class="text-center">Action</th>
						</thead>
						<tbody ng-init="ListBillPayEntry()">
							<tr ng-repeat="data in BillPaymentList | filter:search.name | startFrom:currentPage*pageSize | limitTo:pageSize  | orderBy:sortType:sortReverse">
								<td class="text-left">{{$index +1}}</td>
								<td class="text-center">{{data.createddate | date:'dd/MM/yyyy'}}</td>
								<td class="text-left">{{data.officename}}</td>
								<td class="text-left">{{data.nopayments}}</td>
								<td class="text-right">{{data.paidamount |number:2}}</td>
								<td class="text-right">{{data.createduser}}</td>
								<td class="text-center"><a class="btn btn-warning" ng-click="getMiscPaymentData(data.id)" data-toggle="modal" data-target="#myModalAdd">Edit</a> | <a class="btn btn-danger" ng-click="DeleteOfficeMiscPayment(data.id)">Delete</a></td>
							</tr>
							
						</tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
            
        </div>
    </section>

   <!-- Bootstrap Core Js -->
    <script src="angulerjs/bootstrap.js"></script>


    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>
	
	
</body>

</html>