<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Threesa Infoway Pvt. Ltd.</title>
    <!-- Favicon-->
    <link rel="icon" href="images/Threesa_Logo.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap Core Css -->
    <link href="angulerjs/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="plugins/morrisjs/morris.css" rel="stylesheet" />

	    <link href="plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="css/themes/all-themes.css" rel="stylesheet" />
	
	 <!-- Jquery Core Js -->
    <script src="js/jquery.min.js"></script>
	 <!-- Anguler Js -->
	
	  <script src="angulerjs/angular.js"></script>
    <script src="angulerjs/angular.min.js"></script>
    <script src="angulerjs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="angulerjs/appVendors.js"></script>
	
</head>

<body class="theme-red" ng-app="VendorApp" ng-controller="vendorController">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
	<section >
      <div ng-if="userlevel=='HO' || userlevel == 'ACCOUNT HEAD'" ng-include="'Mainmenu.html'"></div>
      <div ng-if="userlevel=='STOCK  MANAGER'" ng-include="'mainmenuforatock.html'"></div>
      <div ng-if="userlevel=='FIELD' || userlevel=='SUPERVISOR'" ng-include="'mainmenuforfield.html'"></div>
      <div ng-if="userlevel=='OFFICE'" ng-include="'mainmenuforoffice.html'"></div>
    </section>

    <section class="content" >
        <div class="container-fluid" ng-init="ListRegion();ListArea()">
            <div class="block-header">
                <h2><b>Purchase's Details</b></h2>
            </div>
			<div class="row clearfix">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><br>
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><button class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">Add New</button></div><div class="col-lg-3 col-md-3 col-sm-8 col-xs-8 pull-right"><input type="search" class="form-control" ng-model="search.po" placeholder="search"/>
				<div ng-if="search.po" class="fa fa-times-circle" id="input_img" ng-click="search.po = ''"></div>
				</div>
				<br>
				<br>
				</div>
				
				<div class="modal fade" id="myModalAdd" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">New Purchase Order</h4>
						</div>
							<div class="modal-body">
								  <form name="Addpo">
											<div class="col-md-7">
										<div class="input-group">
											<span class="input-group-addon">
												<i>Dealer:</i>
											</span>
											<div class="form-line" ng-init="VendorList()">
											
												<select class="form-control"  ng-model="dealer" ng-options="obj.id as obj.name for obj in VendorListing" >
													<option selected disabled value="">Select Vendor</option>
												</select>
												
											</div>
										</div>
										</div>
										<div class="input-group"><button class="btn btn-primary" ng-click="prdlist = true;seletecdprdtable = false;">Select Products</button></div>
										<div class="input-group">
											<div class="row">
											<div class="col-md-12" ng-show="prdlist">
											
											<div class="col-md-12">
											<div class="col-md-6">
							<div class="input-group">
                                        <div class="form-line">
                                            <input type="search" ng-model="searchprd.prdname" class="form-control" placeholder="Serach product">
                                        </div>
                                        <span class="input-group-addon">
                                            <i ng-if="searchprd.prdname" class="fa fa-times-circle" id="input_img1" ng-click="searchprd.prdname = ''" class="fa fa-times-circle"></i>
                                        </span>
                                    </div>
                                </div>
                                </div>
				<br>
				
				<hr>
											
											<div class="row"  ng-init="ItemsList()">
									<ul ng-repeat="data in ItemsListing | filter:searchprd.prdname" style="list-style-type:none;">
										<li class="col-md-3"><input type="checkbox" id="checkbox{{data.id}}"  ng-change="sync(bool,data)" ng-model="bool" ng-checked="isChecked(data)"> <label for="checkbox{{data.id}}">{{data.name}}</label>
										</li>
									</ul>
							</div>
							<div class="input-group">
											<div class="">
												<button class="btn btn-success pull-right" ng-click="prdlist = false; seletecdprdtable = true;">Done</button>
											</div>
										</div>
											</div>
											
											<div class="col-md-12" ng-show="seletecdprdtable">
											<div class="table-responive">
											<table class="table table-borderd" >
											<thead>
											<th>Product</th>
											<th>Qty.</th>
											<th>Unit Rate</th>
											<th>Net Amount</th>
											</thead>
											<tbody>
											<tr ng-repeat="data in SelectedProducts">
											<td>{{data.name}}</td>
											<td><input type="text" ng-model="data.qty" class="form-control" style="border: .5px solid black;width:50%;" /></td>
											<td><input type="text" ng-model="data.amt" class="form-control" style="border: .5px solid black;width:50%;" /></td>
											<td>{{data.netamt = data.qty * data.amt | number:2}}</td>
											</tr>
											</tbody>
											</table>
											</div>
											<div class="input-group">
											<div class="">
												<button class="btn btn-success pull-right" ng-disabled="Addpo.$invalid" ng-click="AddNewPO()" data-dismiss="modal">Save</button>
											</div>
										</div>
											</div>
											</div>
										</div>	
								</form>
							</div>
						</div>
					</div>
				</div>	
				
				
				
				<div class="col-md-3 col-xs-6" style="float:right">
													  <button style='border:none;background:transparent;color:black;' ng-disabled='currentPage == 0' class='fa fa-chevron-left' ng-click='currentPage=currentPage-1'></button>
													  <b>  {{currentPage+1}} / {{numberOfPages()}} </b>
													  <input type='number' min='1' max='{{maxpage}}' ng-change='checkcurrpage(myValue)' style='width:35%' ng-model='myValue'>
														<button style='border:none;background:transparent;color:black' class='fa fa-chevron-right' ng-disabled='currentPage >= poList.length/pageSize - 1' ng-click='currentPage=currentPage+1'></button>
				</div>					
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="table-responsive">
					<br>
						<table class="table table-bordered table-striped table-hover">
						<thead>
							<!-- <th class="text-center">Purchase Date</th> -->
							<th class="text-center"> <a href='#' style='text-decoration:none;color:Black' ng-click="sortType = 'createddate'; sortReverse = !sortReverse"> <b>Purchase Date</b> <span ng-show="sortType= 'createddate' && !sortReverse" style='font-size:10px;' class='fa fa-chevron-down'></span> <span ng-show="sortType = 'createddate' && sortReverse" style='font-size:10px' class='fa fa-chevron-up'></span> </a></th>
							<th class="text-center">Dealer</th>
							<th class="text-center">Product</th>
							<th class="text-center">Qty.</th>
							<th class="text-center">Unit Rate</th>
							<th class="text-center">Net Amount</th>
							<th class="text-center">Action</th>
						</thead>
						<tbody ng-init="ListPo()">
							<tr ng-repeat="data in model.contacts | filter:search.po | startFrom:currentPage*pageSize | limitTo:pageSize  | orderBy:sortType:sortReverse" ng-include="getTemplate(data)">
								
							</tr>
						</tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
    <script type="text/ng-template" id="display">
        <td class="text-center">{{data.podate | date:'dd/MM/yyyy'}}</td>
								<td class="text-left">{{data.dealer}}</td>
								<td class="text-left">{{data.productname}}</td>
								<td class="text-center"><span>{{data.qty}}</span> 
								<td class="text-center"><span>{{data.unitprice}}</span> 
								<td class="text-center"><span>{{data.netamt}}</span> 
									<!-- <input type="text" ng-model="data.qty" class="form-control"/> -->
								</td>
								<td class="text-center"><a class="btn btn-warning" ng-click="editContact(data)">Edit</a> | <a class="btn btn-danger" ng-click="Deletepo(data.id)">Delete</a></td>
    </script>
    <script type="text/ng-template" id="edit">
								<td class="text-center">{{model.selected.podate | date:'dd/MM/yyyy'}}</td>
								<td class="text-left">{{model.selected.dealer}}</td>
								<td class="text-left">{{model.selected.productname}}</td>
								<td style="width:20%;"><center><input type="text" ng-model="model.selected.qty" class="form-control" style="width:50%;"/></center></td>
								<td style="width:20%;"><center><input type="text" ng-model="model.selected.unitprice" class="form-control" style="width:50%;"/></center></td>
								<td><center>{{model.selected.netamt = model.selected.qty * model.selected.unitprice | number:2}}</td>
        <td>
            <button class="btn btn-success" ng-click="saveContact(model.selected)">Save</button> | <a class="btn btn-danger" ng-click="reset()">Cancle</a> </td>
			</script>
			</div>
         
    </section>

    <!-- Bootstrap Core Js -->
    <script src="angulerjs/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="plugins/raphael/raphael.min.js"></script>
    <script src="plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="plugins/flot-charts/jquery.flot.js"></script>
    <script src="plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>

    
</body>

</html>